<h1>POPULAR FILMS</h1>
<table>
  <tr>
    <th>Title</th>
    <th>Genre</th>
    <th>Release date</th>
    <th>Rating</th>
    <th>Actions</th>
  </tr>
  <tr *ngFor="let film of films$ | async">
    <td>{{film.title}}</td> 
    <td>{{film.genre_ids}}</td>
    <td>{{film.release_date}}</td>
    <td>{{film.vote_average}}</td>
    <td>
      <a [routerLink]="['/details']" [queryParams]="{ id: film.id}">See details</a>
      <button (click)="deleteFilm(film.id)">Remove film</button>
      <button>Modify film</button>
    </td>
  </tr>
</table>

<button>Add film</button>